.about-video {
  box-sizing: border-box;
  // width: 100%;
  // max-width: 100%;
  // margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 100px #000000;
  background-image: url("@img/about-video@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;

  @media #{$screen-768} {
    padding: 0;
    border-radius: 0;
  }
}

.about-video__button {
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;

  @media #{$screen-768} {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.about-video__play-video {
  vertical-align: bottom;
  width: 50px;
  height: 50px;

  @media #{$screen-992} {
    width: 60px;
    height: 60px;
  }


  @media #{$screen-1280} {
    width: 126px;
    height: 127px;
  }
}

.about-video__text {
  display: none;
  
  @media #{$screen-768} {
    display: block;
    margin-top: auto;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: $font-size-small;
    line-height: 26px;
    color: $white;
  }

  @media #{$screen-992} {
    font-size: $font-size-large;
    line-height: 30px;
  }
}