.also {
  padding-bottom: 200px;
}

.also__container {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
}

.also__title {
  font-weight: 900;
  font-size: 80px;
  line-height: 120px;
  text-transform: uppercase;
  color: rgba($wild-sand, 0.5);
  margin-bottom: 80px;
}