.also-slider {
  position: relative;

  .slick-list{
    overflow: hidden;
    width: 100% ;
  }
  
  .slick-track {
    display: flex;
    margin-left: -5px;

    @media #{$screen-768} {
      margin-left: -10px;
    }

    @media #{$screen-1440} {
      margin-left: -29px;
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: -60px;
    right: 0;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $white;
    cursor: pointer;

    @media #{$screen-768} {
      bottom: -100px;
    }
  }

  .slick-prev {
    right: 50px;

    @media #{$screen-768} {
      right: 55px;
    }

    @media #{$screen-1440} {
      right: 60px;
    }
  }

}

.also-slider__slide {
  margin: 0 5px;

  @media #{$screen-768} {
    margin: 0 10px;
  }

  @media #{$screen-1440} {
    margin: 0 29px;
  }
}

.also-slider__slide-link {
  display: block;
  width: 234px;

  @media #{$screen-768} {
    width: 300px;
  }

  @media #{$screen-1280} {
    width: 350px;
  }

  @media #{$screen-1440} {
    width: 474px;
  }
}

.also-slider__slide-content {
  width: 234px;
  height: 234px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$screen-768} {
    width: 300px;
    height: 300px;
  }

  @media #{$screen-1280} {
    width: 350px;
    height: 350px;
  }

  @media #{$screen-1440} {
    width: 474px;
    height: 493px;
  }

  &--tribute {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-1@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-1@2x.jpg")
    }
  }

  &--duos {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-2@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-2@2x.jpg")
    }
  }

  &--female {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-3@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-3@2x.jpg")
    }
  }

  &--groups {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-2@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("@img/also-4@2x.jpg")
    }
  }
}

.also-slider__slide-text {
  font-weight: 900;
  font-size: $font-size-large;
  line-height: 30px;
  color: $wild-sand;
  text-transform: uppercase;

  @media #{$screen-768} {
    font-size: 40px;
    line-height: 60px;
  }

  @media #{$screen-1440} {
    font-size: 80px;
    line-height: 120px;
  }
}