.breadcrumbs {
  padding: 20px 0;
  font-weight: 300;

  @media #{$screen-768} {
    padding: 40px 0 36px;
  }

  @media #{$screen-992} {
    padding: 40px 0 46px;
  }

  @media #{$screen-1280} {
    padding: 40px 0 66px;
  }
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-extraSmall;
  line-height: 18px;
  color: rgba($wild-sand, 0.5);
  margin: 0;

  @media #{$screen-768} {
    font-size: $font-size-small;
    line-height: 20px;
  }
}

.breadcrumbs__item {
  padding-right: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "/";
    top: 0;
    right: 6px;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}
