.clients-slider {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;

  .slick-list{
    overflow: hidden;
    width: 100% ;
  }
  
  .slick-track {
    display: flex;
    margin-left: 0;

    @media #{$screen-768} {
      margin-left: -15px;
    }
  }
}

.clients-slider__item {
  margin-right: 10px;

  @media #{$screen-768} {
    margin-right: 88px;
  }
}

.clients-slider__item-wrapper {
  box-sizing: border-box;;
  text-align: center;
}

.clients-slider__logo {
  height: 40px;
  vertical-align: bottom;

  @media#{$screen-768} {
    height: auto;
  }
}
