.clients {
  padding-bottom: 50px;
  position: relative !important;

  @media #{$screen-768} {
    padding-bottom: 120px;
  }

  @media #{$screen-1280} {
    padding-bottom: 150px;
  }

  @media #{$screen-1440} {
    padding-bottom: 220px;
  }
}

.clients__inner {
  max-width: 1420px;
  margin: 0 auto;
}

.clients__slider-wrapper {
  max-width: 1475px;
  margin: 0 auto;
  // margin: 0 auto 80px;
}

.clients__title {
  // margin-bottom: 25px;
  margin-bottom: 40px;

  @media #{$screen-768} {
    margin-bottom: 60px;
  }

  @media #{$screen-1440} {
    margin-bottom: 80px;
  }
}

.clients__slider {
  margin-bottom: 80px;
}

.clients__reviews {
  margin-top: 20px;
}
