.form{
  display: block;
}

.form__input,
.form__select {
  width: 100%;
  background-color: $steel-gray;
  border-radius: 30px;
  border: 2px solid transparent;
  padding: 5px 20px;
  font-weight: 300;
  font-size: $font-size-normal;
  line-height: 34px;
  outline: none;
  margin-bottom: 15px;

  @media #{$screen-768} {
    padding: 11px 27px;
  }

  &::placeholder {
    color: $white;
  }

  &:focus {
    border: 2px solid $electric-violet;
  }
}

.form__fields-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @media #{$screen-768} {
    flex-direction: row;
    margin-bottom: 33px;
  }

  .form__input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    
    @media #{$screen-768} {
      width: 50%;
      margin-right: 15px;
      margin-bottom: 0;
    }
    
  }

  .form__select {
    width: 100%;

    @media #{$screen-768} {
      width: 50%;
    }
  }

  .form__input:last-child {
    margin-right: 0;
  }
}

.form__fields-box:last-child {
  .form__input,
  .form__select {
    margin-bottom: 0;
  }
}

.form__select,
.form__input--date {
  width: 100%;
  padding: 5px 15px;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("@img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 27px) center;

  @media #{$screen-768} {
    padding: 11px 27px;
  }
}

.form__input--date {
  height: 51px;

  @media #{$screen-768} {
    height: auto;
    padding: 10px 27px;
  }
}

.form__input.form__input--date:focus {
  height: 51px;
  @media #{$screen-768} {
    height: auto;
  }
}

.form__input--email,
.form__input--phone,
.form__input--date, 
.form__select--region {
  margin-bottom: 0;
}
.form__input--date::-webkit-calendar-picker-indicator {
  opacity: 0;
} 

.form__select--region{
  margin-bottom: 15px;
  width: 100%;

  @media #{$screen-768} {
    margin-bottom: 0;
  }
}

.form__select--artist-region {
  @media #{$screen-768} {
    margin-bottom: 33px;
  }
}

.form__button {
  width: 100%;
  cursor: pointer;
  padding: 17px 70px;
  font-size: $font-size-medium;
  line-height: 100%;
  margin-top: 20px;

  @media #{$screen-768} {
    padding: 17px 70px;
    font-size: $font-size-large;
    margin-top: 0;
  }
}

// === CHECKBOX ===
.form__checkbox-wrapper{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.form__checkbox {
  display: inline-flex;
  margin-bottom: 13px;
  cursor: pointer;
}

.form__checkbox-input,
.form__checkbox-input-iconed {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  display: block;
  position: absolute;
}

.form__checkbox-text {
  width: auto;
  font-size: $font-size-normal;
  line-height: 24px;
  color: $silver;
  display: inline-block;
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid $silver;
    border-radius: 6px;
    position: absolute;
    margin-top: 2px;
  }
}

.form__checkbox-input:checked+.form__checkbox-text::before {
  background-color: $cardinal-pink;
  border-color: $cardinal-pink;
}

.form__checkbox-input-iconed+.form__checkbox-text::before {
  // border-color: $cardinal-pink;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("@img/icons/checkbox-plus.svg");
}

.form__checkbox-input-iconed[checked='checked']+.form__checkbox-text::before {
  border-color: $cardinal-pink;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("@img/icons/checkbox-minus.svg");
}

.form__checkbox-input:disabled+.form__checkbox-text::before {
  background-color: lightgray;
  border-color: gray;
}

.form__checkbox-input:checked:disabled+.form__checkbox-text::before {
  background-color: lightgray;
  border-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("@img/form-elements/checked-disabled.svg");
}

// // === RADIOBUTTONS ===

// .form__radio {
//   display: inline-block;
//   margin-bottom: 20px;
//   cursor: pointer;
// }

// .form__radio-wrapper{
//   display: flex;
//   flex-direction: column;
//   width: 250px;
// }

// .form__radio-input {
//   width: 0;
//   height: 0;
//   opacity: 0;
//   z-index: -1;
//   display: block;
//   position: absolute;
// }

// .form__radio-text {
//   font-size: $font-size-normal;
//   display: inline-block;
//   padding-left: 28px;
//   position: relative;

//   &::before {
//     position: absolute;
//     content: "";
//     width: 20px;
//     height: 20px;
//     top: 0;
//     left: 0;
//     background-color: $white;
//     border: 1px solid gray;
//     border-radius: 5px;
//     position: absolute;
//     margin-top: -2px;
//     border-radius: 50%;
//   }
// }

// .form__radio-input:checked+.form__radio-text::before {
//   background-color: $white;
//   background-image: url("@img/form-elements/radio-checked.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .form__radio-input:disabled+.form__radio-text::before {
//   background-color: lightgray;
//   border-color: gray;
// }

// .form__radio-input:checked:disabled+.form__radio-text::before {
//   background-color: lightgray;
//   border-color: gray;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-image: url("@img/form-elements/radio-disabled.svg");
// }


