.header {
  z-index: 99999;
  // position: fixed;
  position: static;
  flex-shrink: 0;
  left: 0;
  right: 0;
  background: transparent;
  // background: $electric-violet;
  box-shadow: 0px 2px 4px rgba($black, 0.1);
  transition: all .3s;

  @media #{$screen-768} {
    position: absolute;
  }
}

.header__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$screen-768} {
    padding: 80px 0;
  }
}

.header__toggle {
  z-index: 99999;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: -6px;

  @media #{$screen-768} {
    display: none;
  }
}

.header__toggle span {
  display: block;
  height: 2px;
  width: 100%;
  margin: 6px 0;
  border-radius: 15px;
  background-color: $santas-gray;
  transition: all .3s;
}

.header__toggle.header__toggle--close {
  span {
    transition: all .3s;

    &:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translateX(20px);
      width: 0;
      background-color: transparent;
    }

    &:last-child {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.header--out {
  transform: translateY(-100%);
  transition: all .3s;
}
