.join {
  padding-bottom: 30px;

  @media #{$screen-768} {
    padding-bottom: 267px;
  }
}

.join__title {
  margin-bottom: 25px;

  @media #{$screen-768} {
    margin-bottom: 80px;
  }
}

.join__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  @media #{$screen-768} {
    
  }
}

.join__info {
  max-width: 604px;
  margin-bottom: 30px;
  
  @media #{$screen-768} {
    margin-bottom: 0;
  }
}

.join__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: $white;
  margin-bottom: 25px;

  @media #{$screen-768} {
    font-weight: 500;
    font-size: $font-size-large;
    line-height: 34px;
    margin-bottom: 80px;
  }
}

.join__subtitle {
  font-weight: 400;
  font-size: $font-size-medium;
  line-height: 28px;
  margin-bottom: 25px;
  color: $electric-violet;

  @media #{$screen-768} {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 40px;
  }
}

.join__list {
  list-style-type: none;
  list-style-position: outside;
  counter-reset: item1;
}

.join__list-item {
  color: $silver;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
  position: relative;
  padding-left: 44px;


  @media #{$screen-768} {
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 34px;
    margin-bottom: 46px;
    padding-left: 74px;
  }

  &::before {
    position: absolute;
    counter-increment: item1;
    content: counter(item1);
    width: 31px;
    height: 35px;
    left: 0;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 24px;
    color: $silver;
    border: 2px solid $electric-violet;
    border-radius: 10px;
    border-image-slice: 20; /* border-radius*2 */
    border-image-repeat: round;
    border-image-width: 20px; /* border-radius*2 */
    border-image-source: url("@img/join-number-border.svg");

    @media #{$screen-768} {
      top: -10px;
      width: 51px;
      height: 55px;
      font-weight: 600;
      font-size: $font-size-large;
      line-height: 34px;
      border-radius: 16px;
    }
  }
}

.join__form-box {
  width: 100%;
  @media #{$screen-768} {

    width: 576px;
  }
}
