.logo__image {
  vertical-align: bottom;

  @media #{$screen-768} {
    width: 100px;
    height: auto;
  }

  @media #{$screen-992} and (min-height: 860px) {
    width: 163px;
    height: 45px;
  }

  // @media #{$screen-992} {
  //   width: 163px;
  //   height: 45px;
  // }
}
