.menu {
  margin-left: auto;
}

.menu__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: lightseagreen;
  transform: translateY(-200%);
  transition: all .3s;

  @media #{$tablet} {
    position: static;
    flex-direction: row;
    transform: translateY(0);
    height: auto;
    background-color: transparent;
  }
}

.menu__list.menu__list--active {
  transform: translateY(0);
  transition: all .3s;
}

.menu__item {
  margin: 25px 0;
  
  @media #{$tablet} {
    margin: 0;
    margin-right: 70px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-size: 30px;

  @media #{$tablet} {
    font-size: 18px;
  }
}
