.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.pagination__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 50%;

  &:hover,
  &--active {
    color: $white;
    border-color: $cardinal-pink;
    background-color: $cardinal-pink;
  }
}