.splide {
  .splide__slide {
    border: 1px solid #FFF;
    width: 695px;
  }

  .splide-track {
    margin-left: 200px;
  }

  .is-active {
    .reviews-slide {
      opacity: 1;
      margin-top: 140px;

      .reviews-slide__front {
        transform: rotateY(0deg);
      }
  
      .reviews-slide__back {
        transform: rotateY(180deg);
      }

    }
  }

  .is-prev {
    border: 5px solid red;
    width: 453px;
    height: 365px;
    margin-left: 310px;
    margin-right: -90px;
  }

  .is-next {
    border: 5px solid red;
    width: 453px;
    height: 365px;
    margin-right: 310px;
    margin-left: -90px;
  }
}
