.talents {
  padding-bottom: 50px;
  
  @media #{$screen-768} {
    padding-bottom: 120px;
  }

  @media #{$screen-1280} {
    padding-bottom: 150px;
  }

  @media #{$screen-1440} {
    padding-bottom: 220px;
  }
}

.talents__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.talents__title {
  margin-bottom: 17px;

  @media #{$screen-768} {
    margin-bottom: 60px;
  }

  @media #{$screen-1440} {
    margin-bottom: 80px;
  }
  
}

.talents__tabs-content {
  margin-left: auto;
  // margin-bottom: 20px;
  @media #{$screen-1440} {
    margin-left: calc((100vw - 1445px) / 2);
    // margin-bottom: 220px;
  }
  // height: 700px;
  // max-width: 1690px;
  // z-index: 99;
  // margin-left: 10%;
  // margin-left: 12%;
  // margin-left: auto;
  // max-width: 88%;
  // max-width: 1690px;
  // width: 100%;
  // padding-left: 15px;
}