.talents {
  padding-bottom: 50px;
  
  @media #{$screen-768} {
    padding-bottom: 120px;
    padding-top: 30px;
  }

  @media #{$screen-1280} {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  @media #{$screen-1440} {
    padding-bottom: 220px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 20%;
      right: 0;
      width: 566px;
      height: 1011px;
      z-index: -1;
      background-image: url("@img/bg-circle-2.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
    }
  }
}

.talents__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.talents__title {
  margin-bottom: 17px;

  @media #{$screen-768} {
    margin-bottom: 60px;
  }

  @media #{$screen-1440} {
    margin-bottom: 80px;
  }
}

.talents__tabs-content {
  margin-left: auto;

  @media #{$screen-1440} {
    margin-left: calc((100vw - 1445px) / 2);
  }
}
