.talent-card {
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
  width: 175px;
  height: 234px;
  padding: 15px;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  @media #{$screen-1024} {
    // width: 175px;
    // height: 234px;
  }

  @media #{$screen-768} {
    width: 374px;
    height: 500px;
    padding: 30px 16px 30px 30px;

  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    // background: linear-gradient(0deg, #2C13DD 0%, rgba(0, 0, 0, 0) 98.3%);
    opacity: 0.6;
    border-radius: 16px;
    z-index: 1;
  }
}

.talent-card--blue {
  .talent-card__label {
    background-color: $persian-blue;
  }

  &::before {
    background: linear-gradient(0deg, $persian-blue 0%, rgba(0, 0, 0, 0) 98.3%);
  }
}

.talent-card--pink {
  .talent-card__label {
    background-color: $cardinal-pink;
  }

  &::before {
    background: linear-gradient(0deg, $cardinal-pink 0%, rgba(0, 0, 0, 0) 98.3%);
  }
}

.talent-card--yellow {
  .talent-card__label {
    background-color: $fire-bush;
  }

  &::before {
    background: linear-gradient(0deg, $fire-bush 0%, rgba(0, 0, 0, 0) 98.3%);
  }
}

.talent-card--lime {
  .talent-card__label {
    background-color: $lima;
  }

  &::before {
    background: linear-gradient(0deg, $lima 0%, rgba(0, 0, 0, 0) 98.3%);
  }
}

.talent-card--mint {
  .talent-card__label {
    background-color: $caribbean-green;
  }

  &::before {
    background: linear-gradient(0deg, $caribbean-green 0%, rgba(0, 0, 0, 0) 98.3%);
  }
}

.talent-card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 16px;
  z-index: -1;
  width: 100%;
}

.talent-card__label {
  display: inline-block;
  margin: 0;
  padding: 2px 16px;
  color: $wild-sand;
  border-radius: 6px;
  font-weight: 300;
  font-size: $font-size-extraSmall;
  line-height: 18px;

  z-index: 5;

  @media #{$screen-768} {
    padding: 5px 30px;

    font-size: $font-size-small;
    line-height: 21px;
  }
}

.talent-card__name {
  margin: 0;
  margin-top: auto;
  font-weight: 500;
  font-size: $font-size-small;
  line-height: 21px;
  text-transform: uppercase;
  color: $wild-sand;
  z-index: 5;

  @media #{$screen-768} {
    font-weight: 600;

    font-size: $font-size-normal;
    line-height: 24px;
    margin-bottom: 10px;

  }
}

.talent-card__text {
  display: none;

  @media #{$screen-768} {
    display: block;
    z-index: 5;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: $white;
    height: 60px;
    overflow: hidden;
  }
}