.talents {

}

.talents__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.talents__title {
  margin-bottom: 80px;
}

.talents__tabs-content {
  // height: 700px;
  // max-width: 1690px;
  // z-index: 99;
  // margin-left: 10%;
  // margin-left: 12%;
  // margin-left: auto;
  // max-width: 88%;
  // max-width: 1690px;
  // width: 100%;
  // padding-left: 15px;
}