.talents-content {

}

.talents-content__top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-top;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  @media #{$screen-992} {
    margin-bottom: 38px;
    align-items: center;
  }
}

.talents-content__select {
  font-weight: 300;
  font-size: $font-size-normal;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray;
  background-color: transparent;
  border: none;
  padding-right: 10px;
  margin-left: auto;

  @media #{$screen-992} {
    margin-left: 0;
  }
}

.talents-content__filters-tags {
  width: 100%;

  @media #{$screen-992} {
    width: auto;
  }
}

.talents-content__list {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -5px 25px;

  @media #{$screen-768} {
    margin: -8px -8px 25px;
  }

  @media #{$screen-1280} {
    margin: -15px -15px 85px;
  }

}

.talents-content__item {
  padding: 5px;
  flex: 0 1 50%;
  transition: transform 0.3s;
  display: flex;

  @media #{$screen-500} {
    flex: 0 1 33.3333%;
  }

  @media #{$screen-768} {
    flex: 0 1 50%;
    padding: 8px;
  }

  @media #{$screen-1024} {
    flex: 0 1 33.3333%;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media #{$screen-1280} {
    padding: 15px;
  }

  &:hover {
    @media #{$screen-1024} {
      .talent-card .talent-card__info {
        opacity: 0;
        visibility: hidden;
      }
    }

    @media #{$screen-1024} {
      .talent-card .talent-card__details {
        opacity: 1;
        visibility: visible;
        z-index: 5;
      }

      .talent-card .talent-card__image {
        transition: filter 0.3s;
        filter:brightness(0.5);
      }
    }
  }

  .talent-card {
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;

    &::before {
      display: none;
    }

    .talent-card__image {
      position: static;
      transition: filter 0.3s;
      flex-grow: 1;
    }

    .talent-card__info {
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 30px 15px 30px 30px;
      transition: all 0.3s;
    }

    .talent-card__details {
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      display: none;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: space-between;
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px 15px 30px 30px;

      @media #{$screen-768} {
        display: flex;
      }

      @media #{$screen-1440} {
        padding: 50px 15px 38px 58px;
      }

      .talent-card__name {
        margin-top: 0;
      }
    }
  }
}

.talents-content__pagination {
  margin-bottom: 50px;
}
