.watched-recently {
  margin-bottom: 60px;

  @media #{$screen-768} {
    margin-bottom: 240px;
    position: relative;
    
    &::before {
      position: absolute;
      content: "";
      bottom: -50%;
      left: 0;
      width: 876px;
      height: 876px;
      background-image: url("@img/bg-circle-4@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.5;
      z-index: -1;
      
      @media (min-resolution: 2dppx) {
        background-image: url("@img/bg-circle-4@2x.png");
      }
    }
  }
}

.watched-recently__title {
  margin-bottom: 20px;

  @media #{$screen-768} {
    margin-bottom: 80px;
  }
}

.watched-recently__slider {
  padding-left: 15px;

  @media #{$screen-1440} {
    margin-left: calc((100vw - 1445px) / 2);
  }
}
