//  === Screen widths  ===
$screen-1280: "(min-width: 1280px)";
$screen-992: "(min-width: 992px)";
$screen-768: "(min-width: 768px)";
$desktop: "(min-width: 1280px)";
$tablet: "(min-width: 768px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;
$cod-gray: #141414;
$santas-gray: #A5A4B6;
$wild-sand: #F4F4F4;

$electric-violet: #492FFF;
$cardinal-pink: #7C0566;
$fire-bush: #E4A62D;
$lima: #7ABE19;
$caribbean-green: #00DBA6;

$custom-gradient: linear-gradient(81.37deg, $cardinal-pink 0%, $electric-violet 100%);

// === Fonts ===
$font-family-default: Poppins, Helvetica, Arial, sans-serif;

// === Fonts sizes ===
$font-size-normal: 16px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;

// === Line heights ===
$line-height-normal: 20px;

$line-height-large: 24px;
$line-height-medium: 22px;
$line-height-small: 18px;
$line-height-extraSmall: 16px;


// === Fonts colors  ===
$text-main-color: $black;