//  === Screen widths  ===
$screen-1440: "(min-width: 1440px)";
$screen-1280: "(min-width: 1280px)";
$screen-1024: "(min-width: 1024px)";
$screen-992: "(min-width: 992px)";
$screen-768: "(min-width: 768px)";
$screen-500: "(min-width: 500px)";
$screen-430: "(min-width: 430px)";
$screen-340: "(min-width: 340px)";
$desktop: "(min-width: 1280px)";
$tablet: "(min-width: 768px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;
$cod-gray: #141414;
$steel-gray: #1D1B27;
$thunder: #262225;
$mine-shaft: #2D2D2D;
$abbey: #585B5E;
$santas-gray: #A5A4B6;
$gray: #828282;
$monson: #8A898A;
$silver: #C1C1C1;
$wild-sand: #F4F4F4;

$electric-violet: #492FFF;
$persian-blue: #2C13DD;
$cardinal-pink: #7C0566;
$fire-bush: #E4A62D;
$lima: #7ABE19;
$caribbean-green: #00DBA6;

$custom-gradient: linear-gradient(81.37deg, $cardinal-pink 0%, $electric-violet 100%);

// === Fonts ===
$font-family-default: Poppins, Helvetica, Arial, sans-serif;

// === Fonts sizes ===
$font-size-normal: 16px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;

// === Line heights ===
$line-height-normal: 20px;

$line-height-large: 24px;
$line-height-medium: 22px;
$line-height-small: 18px;
$line-height-extraSmall: 16px;


// === Fonts colors  ===
$text-main-color: $white;
